{% extends 'base.html' %}
{% block title %}Item{% endblock %}
{% block content %}
<header class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="item-heading">
          <h1>{{ movie.movieTitle }}</h1>
          <h2 class="subheading">{{ movie.year }}</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        Description: {{ movie.description|safe }}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{url_for('edit_movie', id=movie._id)}}"
            >Edit Item</a
          >
        </div>
        </div>
      </div>
    </div>
</article>
{% endblock %}