<body>
<header
  class="masthead"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h2>Movie Directory</h2>
          <span class="subheading">A collection of movies and reviews</span>
        </div>
      </div>
    </div>
  </div>
</header>
<br>
<pre class="container position-relative px-4 px-lg-5">This site allows users to access, manipulate and retrieve from an API database of movies.
Register for further access than simply retrieving data, Add Reviews
</pre>
<br>
<!-- Footer-->
        <footer class="border-top">
          <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                      <div class="small text-center text-white fst-italic">Copyright &copy; MovieDB Company 2023</div>
                  </div>
              </div>
          </div>
      </footer>
</body>
